body{
	background-size:cover;
}

header {
	width: 100%;
	height: 90px;
	background-color: rgba(255,255,255,0.2);
}

header.body-scale {
	height: 50px;
}

.index-body {
	position: absolute;
	top: 90px;
	width: 100%;
	min-width: 1080px;
	height: calc(100% - 89px);
}

.body-scale + section.index-body {
	top: 50px;
	height: calc(100% - 50px);
}

.header-left {
	margin-left: 36px;
}

.bg-image {
	visibility: hidden;
	position: fixed;
	z-index: -1;
}

.header-left-logo {
	display: inline-block;
	height: 90px;
	margin-right: 30px;
	cursor: pointer;
	line-height: 90px;
	overflow: hidden;
}

.header-left-logo>img{
	display: inline-block;
	vertical-align: middle;
}

.header-left-btns {
	/*display: inline-block;*/
	display: none;
	height: 30px;
	vertical-align: top;
	line-height: 90px;
	color: #cfc7dc;
}

.header-left-btns>span {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	border-radius: 50%;
	background: #fff;
}

.header-left-btns>span:hover {
	background: #e6e3ed;
}

.header-left-btns-left {
	margin-right: 5px;
}

.header-quick-menus {
	float: left;
	height: 70px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	overflow: hidden;
}

header.body-scale .header-quick-menus {
	height: 50px;
	margin-top: 0px;
}

.header-quick-menus>ul>li {
	display: inline-block;
	height: 70px;
	margin: 0 15px;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	list-style: none;
	line-height: 70px;
	cursor: pointer;
}

header.body-scale .header-quick-menus>ul>li {
	height: 50px;
	line-height: 50px;
}

.header-quick-menus>ul>li.active {
	border-bottom: 2px solid #404040;
}

.header-quick-menus>ul>li:hover {
	border-bottom: 2px solid #404040;
}

.header-right {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 35px;
	margin-top: 24px;
}

.header-right>ul {
	display: block;
	margin: 0;
	padding: 0;
	/*line-height: 90px;*/
}

.header-right>ul.ul>li {
	display: inline-block;
	width: 42px;
	height: 42px;
	margin-left: 15px;
	list-style: none;
	cursor: pointer;
	border-radius: 50%;
	background-color: #fff;
}

header .header-right>ul.ul>li:hover {
	background-color: #f0eeec;
}

.header-work-btn {
	background: url(../../../static/images/header-work-btn.png) center no-repeat;
}

.header-span-btn {
	display: block;
	float: right;
	width: 42px;
	height: 42px;
	margin-left: 15px;
	font-size: 18px;
	text-align: center;
	line-height: 42px;
	cursor: pointer;
	border-radius: 50%;
	vertical-align: top;
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
}

.header-span-btn:hover {
	background-color: #f0eeec;
}

.header-span-btn>i.icon-manage {
	margin-left: 0px;
	font-size: 45px;
}

.body-scale .header-span-btn {
	width: 30px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
}

.body-scale .header-span-btn>i.icon-manage {
	margin-left: -3px;
	font-size: 38px;
}

.header-menu-btn {
	background-image: url(../../../static/images/header-menu-btn.png);
}

.header-message-btn {
	background-image: url(../../../static/images/header-message-btn.png);
	position: relative;
}

.header-message-btn.active {
	background-image: url(../../../static/images/header-message-btn-active.png);
}

header .header-right>.header-menu-btn:hover,
header .header-right>.header-message-btn:hover {
	background-color: #f0eeec;
}

.header-message-btn-warnning {
	position: absolute;
	top: 0;
	right: 0;
	height: 16px;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
	background-color: #e94949;
	border-radius: 8px;
	font-style: normal;
	padding: 0 4px;
	color: #fff;
}



.body-scale .header-left {
	margin-left: 16px;
}

.body-scale .header-left-btns {
	line-height: 50px;
}

.body-scale .header-right {
	margin-top: 10px;
}

.body-scale .header-right>ul {
	margin: 0;
	padding: 0;
	/*line-height: 70px;*/
}

.body-scale .header-right>ul.ul>li {
	width: 30px;
	height: 30px;
	background-color: #fff;
}

.body-scale .header-message-btn {
	background-image: url(../../../static/images/header-message-btn-small.png);
}

.body-scale .header-message-btn.active {
	background-image: url(../../../static/images/header-message-btn-active-small.png);
}

.body-scale .header-work-btn {
	background: url(../../../static/images/header-work-btn-small.png) center no-repeat;
}

.body-scale .header-menu-btn {
	background-image: url(../../../static/images/header-menu-btn-small.png);
}

.body-scale .header-left-logo {
	height: 50px;
	margin-left: 10px;
	margin-right: 20px;
	line-height: 50px;
}

.menu {
	display: none;
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.menu.active {
	display: block;
}

.menu-box {
	position: relative;
	top: 90px;
	float: right;
	margin-right: 20px;
	width: 307px;
	border-radius: 7px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.07);
}

.body-scale .menu-box {
	top: 50px;
}

.menu-box-user {
	height: 65px;
	padding-top: 11px;
	border-bottom: 1px solid #ddd;
}

.menu-box-user:hover {
	background: rgba(240, 237, 235, 0.85);
}

.menu-box-user-image>img {
	display: inline-block;
	width: 42px;
	height: 42px;
	margin-left: 30px;
	margin-right: 15px;
	cursor: pointer;
	border-radius: 50%;
	/*background-size:100%;
	background-repeat: no-repeat;
	background-position: center;*/
	/*background-image: url(../../../static/images/photo-default.png);*/
}

.menu-box-user-text {
	display: inline-block;
	width: 150px;
	height: 42px;
	overflow: hidden;
}

.menu-box-user-text>label {
	display: inline-block;
	width: 100%;
	height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.menu-box-user-text>label:first-child {
	line-height: 22px;
	font-weight: bold;
	font-size: 14px;
}

.menu-box-user-out {
	display: none;
	width: 36px;
	height: 36px;
	margin-left: 5px;
	margin-top: 2px;
	vertical-align: top;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	background: #fff;
}

.menu-box-user-out>i {
	transform: rotate(90deg) translateX(11px);
}

.menu-box-user:hover .menu-box-user-out {
	display: inline-block;
}

.menu-box>ul {
	list-style: none;
	padding: 0;
	padding-top: 12px;
	padding-bottom: 20px;
	margin: 0;
	overflow: hidden;
}

.menu-box>ul>li {
	display: block;
	float: left;
	width: 92px;
	height: 84px;
	margin-left: 10px;
	padding-top: 20px;
	color: #4b5c64;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
}

.menu-box>ul>.first-li {
	margin-left: 5px;
}

.menu-box>ul>li:hover {
	background: rgba(240, 237, 235, 0.85);
}

.menu-box>ul>li>i {
	width: 28px;
	height: 32px;
	font-size: 28px;
}

.menu-text {
	clear: both;
	display: block;
	line-height: 26px;
}