<?xml version="1.0" encoding="utf-8"?>
<nlog throwExceptions="true" internalLogLevel="Error" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="Sapi" />
  </extensions>
  <targets>
    <target name="traceFile" xsi:type="File"
            fileName="${basedir}/Logs/Trace/${date:format=yyyy}/${date:format=MM}/${date:format=yyyy-MM-dd}.log"
            layout="[${date:format=HH\:mm\:ss}] 用户：${event-properties:item=userName} 位置: ${event-properties:item=userAddress} 客户端:${event-properties:item=clientId} 访问：${event-properties:item=url} ${message} ${exception}" />

    <target name="errorFile" xsi:type="File"
            fileName="${basedir}/Logs/Error/${date:format=yyyy}/${date:format=yyyy-MM-dd}.log"
            layout="[${date:format=HH\:mm\:ss}] 用户：${event-properties:item=userName} 位置: ${event-properties:item=userAddress} 访问：${event-properties:item=url} 消息: ${message} ${exception} ${onexception:inner=${newline} *****Error***** ${newline} ${exception:format=ToString}}" />

    <target name="infoFile" xsi:type="File"
            fileName="${basedir}/Logs/Info/${date:format=yyyy}/${date:format=MM}/${date:format=yyyy-MM-dd}.log"
            layout="[${date:format=HH\:mm\:ss}] 用户：${event-properties:item=userName} 位置: ${event-properties:item=userAddress} ${message} " />

    <target xsi:type="Database" name="errorDB" dbProvider="System.Data.SqlClient" connectionStringName="LogDB"
            commandText="INSERT INTO TSys_ExceptionLog(LogId,UserId,UserName,AliasName,UserAddress,ClientId,ClientName,Type,Message,StackTrace,Source,ExceptionTime,CreateDate)
            SELECT newid(),@UserId,@UserName,@AliasName,@UserAddress,@ClientId,@ClientName,0,@Message,@StackTrace,@Source,@ExceptionTime,getdate()">
      <parameter name="UserId" layout="${event-properties:item=userId}" />
      <parameter name="UserName" layout="${event-properties:item=userName}" />
      <parameter name="AliasName" layout="${event-properties:item=userAliasName}" />
      <parameter name="UserAddress" layout="${event-properties:item=userAddress}" />
      <parameter name="ClientId" layout="${event-properties:item=clientId}" />
      <parameter name="ClientName" layout="${event-properties:item=clientName}" />
      <parameter name="Message" layout="${message}" />
      <parameter name="StackTrace" layout="${exception:format=ToString}" />
      <parameter name="Source" layout="${event-properties:item=url}" />
      <parameter name="ExceptionTime" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
    </target>

    <target xsi:type="Database" name="infoDB" dbProvider="System.Data.SqlClient" connectionStringName="LogDB"
            commandText="
            IF @InfoType = 'login'
            BEGIN
              INSERT INTO TSys_UserLoginLog(LogId, LoginTime, UserId, UserName, AliasName, ClientId, ClientName, Title, Source, UserAddress, CreateDate)
              SELECT newid(),getdate(),@UserId,@UserName,@AliasName,@ClientId,@clientName,@Message,@Source,@UserAddress,getdate()
            END
            ELSE IF @InfoType='access'
            BEGIN 
              INSERT INTO TSys_UserAccessLog(LogId, AccessTime, UserId, UserName, AliasName, ClientId, ClientName, Title, Source, UserAddress, CreateDate)
              SELECT NEWID(),GETDATE(),@UserId,@UserName,@AliasName,@ClientId,@ClientName,@Message,@Source,@UserAddress,getdate()
            END
            ELSE
            BEGIN             
              INSERT INTO TSys_UserOperateLog(LogId,UserId,UserName,AliasName,UserAddress,ClientId,ClientName,Title,Content,Source,OperateTime,CreateDate)
              SELECT newid(),@UserId,@UserName,@AliasName,@UserAddress,@ClientId,@ClientName,@Message,@Content,@Source,@OperateTime,getdate()
            END
            ">
      <parameter name="UserId" layout="${event-properties:item=userId}" />
      <parameter name="UserName" layout="${event-properties:item=userName}" />
      <parameter name="AliasName" layout="${event-properties:item=userAliasName}" />
      <parameter name="UserAddress" layout="${event-properties:item=userAddress}" />
      <parameter name="ClientId" layout="${event-properties:item=clientId}" />
      <parameter name="ClientName" layout="${event-properties:item=clientName}" />
      <parameter name="Message" layout="${message}" />
      <parameter name="Content" layout="${event-properties:item=content}" />
      <parameter name="Source" layout="${event-properties:item=url}" />
      <parameter name="OperateTime" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="InfoType" layout="${event-properties:item=infoType}" />
    </target>
  </targets>
  <rules>
    <!--<logger name="*" levels="Trace" writeTo="traceFile" />-->
    <logger name="*" levels="Info" writeTo="infoFile,infoDB" />
    <logger name="*" levels="Error" writeTo="errorFile,errorDB" />
  </rules>
</nlog>
